.main {
  display: flex;
  gap: 10px;
}

.main > div {
  height: 150px;
  width: 150px;
  border: 1px solid;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

::backdrop {
  background-color: black;
  opacity: 0.75;
}
